@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <p class="h3">IronOCR</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-primary">
            <a class="text-decoration-none" asp-controller="Main" asp-action="SearchWord">Search word in a file</a>
        </li>
    </ul>
</div>
